<div id="make-3D-space">
    <div id="product-card">
        <div id="product-front">
          <div class="shadow"></div>
            <img ng-src="value.photos[0]" alt="" />
            <div class="stats">         
                <div class="stats-container">
                    <span class="product_price">{{value.price}} €</span>
                    <span class="product_name">{{value.title}}</span>    
                    <p>{{value.description}}</p>                                            
<!--                    <strong>SIZES:</strong>
                    <span>XS, S, M, L, XL, XXL</span><br>
                    <strong>COLORES</strong>
                    <div class="colors">
                        <div class="c-blue"><span></span></div>
                        <div class="c-red"><span></span></div>
                        <div class="c-white"><span></span></div>
                        <div class="c-green"><span></span></div>
                    </div>   -->
                    <a href="#!/product/{{key}}" class="view_details">Ver detalles</a>                     
                </div>               
            </div>
        </div>  
    </div>  
</div> 