<div id="make-3D-space">
    <div id="product-card">
        <div id="product-front">
          <div class="shadow"></div>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="" />
            <div class="stats">         
                <div class="stats-container">
                    <span class="product_price">39 €</span>
                    <span class="product_name">Adidas Originals</span>    
                    <p>Camisa para correr de hombre</p>                                            
                    <strong>SIZES:</strong>
                    <span>XS, S, M, L, XL, XXL</span><br>
                    <strong>COLORES</strong>
                    <div class="colors">
                        <div class="c-blue"><span></span></div>
                        <div class="c-red"><span></span></div>
                        <div class="c-white"><span></span></div>
                        <div class="c-green"><span></span></div>
                    </div>  
                    <a href="#!/product/{{key}}" class="view_details">Ver detalles</a>                     
                </div>               
            </div>
        </div>  
    </div>  
</div> 