<div class="row">
    <div class="container">
    
        <div class="col s12 m12">
            <span class="card-title">Bus App - Arrival time</span>
        </div>
    
        <div class=" card-action">
            <div ng-controller="ArrivalTimeController as ArrivalTimeCtrl">

              <input type="text" ng-model="ArrivalTimeCtrl.code"/>
              
              <button ng-click="ArrivalTimeCtrl.search()">BUSCAR</button>
              

              <div ng-repeat="bus in ArrivalTimeCtrl.service.list | limitTo: 5 | orderBy: 'lineId'"> 
                <span>{{ bus.lineId }} - </span>
                <span>{{ bus.destination }} >> </span>
                <span>{{ bus.busTimeLeft | minutes }} min</span>

              </div>

            </div>

        </div>
    </div>
</div>
