<footer class="page-footer blue lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text">¡DEJA LAS COSAS MEJOR DE COMO LAS ENCUENTRES!</h5>
            </div>
                      <span>
            <a href="https://github.com/CodingCarlos/angular-demos" target="_blank" class="white-text">https://github.com/CodingCarlos/angular-demos</a>
          </span>
          <br>Ejecutar GULP<br>

          npm init<br>
          npm install -S gulp gulp-webserver gulp-debug gulp-concat gulp-minify gulp-watch<br>

    
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Manuel Rosa
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
</footer>