
              <div class="row" style="max-width:100%;width:50%;margin:0 auto;">
                <div class="col s12 m12">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text"  style="text-align:center">
                      <span class="card-title">Bus App</span>
                      <p>Select an option.</p>
                    </div>
                    <div class="card-action" style="text-align:center">
                      <a class="waves-effect waves-light btn" type="button" ui-sref="map">Map</a>
                      <a class="waves-effect waves-light btn" type="button" ui-sref="time">Time bus</a>
                    </div>
                  </div>
                </div>
              </div>
