<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
  </head>
  <body>
    <!-- Angular ---->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="controllers/name.js"></script>
    <!-- Services -->
    <script src="services/user.js"></script>
    <!-- Directives -->
    <script src="directives/field.js"></script>

    <nav>
    	<a href="#/">Main</a>
    	<a href="#/red">Red</a>
    	<a href="#/green">Green</a>
    </nav>

    <div ng-view></div>

    <div ng-controller="nameController as Name">
      <h1>Hola {{Name.user.name}}</h1>
      (ctrl) Name: <input type="text" ng-model="Name.user.name"/>
      <button type="button" name="button" ng-click="Name.clear()">Clear</button>
    </div>


    <div ng-controller="nameController as Name">
      <field />
    </div>



  </body>
</html>
